@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
}

/*** -----------------  MOBILE VERSION ----------------- ***/

main {
  display: flex;
  flex-direction: column;
  font-family: 'Karla', sans-serif;
}

.toolbar {
  height: 48px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #f3f3f3;
  align-items: center;
  position: fixed;
  z-index: 999;
}

.toolbar .navbar {
  padding: 30px;
}

.navbar_mobile {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  padding: 30px;
  box-sizing: border-box;
  background-color: white;
  z-index: 99;
}

.navbar_mobile .menu {
  background-color: #94ecd3;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.js_menu {
  align-self: flex-end;
  cursor: pointer;
  font-size: 25px;
}

.navbar_mobile li {
  margin-bottom: 40px;
}

.navbar_mobile ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.navbar_hidden {
  display: none;
}

.js_menu.nav_link_mobile {
  text-decoration: none;
  transition: color 100ms, border-bottom 20ms;
  color: #18634b;
  font-size: 3rem;
  font-weight: 700;
}

.js_menu.nav_link_mobile:hover {
  color: black;
  text-decoration: none;
  transition: color 100ms, border-bottom 20ms;
}

/*** -----------------  HOME ----------------- ***/
.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_div {
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px 24px 0 24px;
}

.home_title {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.home_title_green {
  color: #2ec4b6;
}

.home_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: 58px 0;
  color: #172b4d;
}

.home_socialbar {
  display: flex;
  padding-left: 0;
  padding-bottom: 50px;
}

.home_socialbar li {
  list-style: none;
}

.home_socialbar i {
  font-size: 30px;
  margin-right: 30px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 50%;
  color: white;
  background-color: black;
  transition: all 0.5s ease;
}

.home_socialbar i:hover {
  background-color: white;
  color: #2ec4b6;
  border: 1px solid #2ec4b6;
  transition: all 0.5s ease;
}

/*** -----------------  WORKS ----------------- ***/

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#works,
#about {
  padding: 35px 24px 0 24px;
}

.work_card_list {
  display: flex;
  flex-wrap: wrap;
}

.separator {
  width: 48px;
  height: 4px;
  border-radius: 24px;
  border: none;
  background: #e96269;
  margin-bottom: 60px;
}

.work_card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.img_work_card img {
  width: 100%;
  max-height: 100%;
}

.langagues {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.data_work_card_d {
  opacity: 0;
  position: absolute;
  transition: opacity 100ms ease-in-out;
}

.data_work_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work_card:hover .data_work_card_d {
  opacity: 1;
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: opacity 100ms ease-in-out;
}

.data_work_card h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  text-align: center;
  color: white;
  padding: 16px 16px 16px 16px;
}

.data_work_card li {
  background-color: black;
  color: #2ec4b6;
  padding: 8px 12px 8px 12px;
  margin: 8px;
  font-weight: 200;
  font-size: 25px;
  line-height: 16px;
  border-radius: 10px;
}

.button {
  border: 1px solid white;
  padding: 20px;
  color: white;
  text-decoration: none;
}

.data_button {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

article {
  display: flex;
  flex-direction: column;
  background-image: url('images/bg.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.common_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  color: #2ec4b6;
  margin: 20px 0 20px 0;
  transition: 100ms;
  position: relative;
}

.common_title::after {
  content: '';
  position: absolute;
  background-color: #cbf3f0;
  box-shadow: 0 0 8px #cbf3f0;
  height: 13px;
  left: 5px;
  bottom: 4px;
  z-index: -1;
  border-radius: 3px;
}

.h236::after {
  width: 236px;
}

.h136::after {
  width: 136px;
}

.h48::after {
  width: 48px;
}

/*** -----------------  ABOUT ----------------- ***/

.about_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 10px;
  color: #42526e;
}

.about_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border: 1px solid #2ec4b642;
}

.about_list {
  list-style: none;
  padding-left: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_card h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #344563;
  margin-bottom: 24px;
}

.about_card_item {
  background-color: white;
  padding: 8px 12px 8px 12px;
  margin: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
}

.about_card_item:hover {
  box-shadow: 2px 2px 5px #00000085;
  transition: all 0.5s ease;
}

.about_items {
  margin: 20px 20px 20px 20px;
  background-color: #ebf0ee;
  border-radius: 8px;
}

.about_card_list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.about_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.image {
  animation-name: bigger;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.skills_div {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}

.skills_div h2 {
  font-size: 20px;
  margin-top: 10px;
}

.langagues_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.langagues_item img {
  width: 40px;
  height: 40px;
}

.button2 {
  color: black;
  text-decoration: none;
  margin-top: 20px;
}

.button2 span {
  border: 1px solid #2ec4b6;
  padding: 20px;
}

/*** -----------------  FOOTER ----------------- ***/

.contact {
  display: flex;
  flex-direction: column;
  padding: 35px 24px 0 24px;
}

.contact_me_text {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.contact_form {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.contact_input,
.contact_textarea {
  padding: 15px;
  margin: 12px;
  border-radius: 4px;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  width: 85%;
}

.contact_input {
  border: #d0d9d4 1px solid;
}

.contact_textarea {
  border: #d0d9d4 1px solid;
}

.contact_textarea:hover,
.contact_input:hover {
  border: 1px solid #cbf3f0;
}

.contact_button {
  padding: 12px;
  margin: 12px 12px 40px 12px;
  background-color: #2ec4b6;
  color: white;
  border: none;
  border-radius: 4px;
  align-self: center;
  font-size: 17px;
}

.contact .home_socialbar {
  padding: 0;
  display: flex;
  justify-content: center;
}

.contact_email {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #42526e;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.contact_icon img {
  padding: 0 2px 20px 20px;
}

.contact_ind_block {
  display: flex;
  justify-content: center;
}

.contact_ind {
  margin: 250px 50px 5px 50px;
  width: 150px;
  height: 6px;
}

footer {
  flex-direction: column;
}

.message_hidden {
  display: none;
}

small {
  color: red;
}

label {
  display: none;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  outline: none;
}

/*** -----------------  DESKTOP VERSION ----------------- ***/

@media (min-width: 1025px) {
  main {
    display: flex;
    flex-direction: row;
  }

  .toolbar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    background: #fff;
    border-right: 1px solid #f3f3f3;
    padding: 10px 0;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
  }

  .home {
    width: 60%;
  }

  .home_div {
    align-items: flex-start;
  }

  .home_title,
  .home_text {
    text-align: inherit;
  }

  article {
    margin-left: 100px;
  }

  .work_card {
    max-width: 400px;
  }
}
