* {
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  margin: auto;
}

/*** -----------------  TOOLBAR ----------------- ***/

.toolbar {
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #28352f;
  padding: 10px 12px 10px 12px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar img {
  padding: 8px;
}

/*** -----------------  HOME ----------------- ***/
.home {
  background-image: url('images/header-illsutration-mobile@2x.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_title {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding: 35px 24px 0 24px;
}

.home_title_green {
  color: #36b37f;
}

.home_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: 58px 0;
  padding: 0 24px 0 24px;
  text-align: center;
  color: #172b4d;
}

.home_socialbar {
  display: flex;
  padding-left: 0;
  padding-bottom: 50px;
}

.home_socialbar li {
  list-style: none;
}

.home_socialbar img {
  padding: 0 20px 20px 20px;
}

/*** -----------------  COMMON ----------------- ***/

.works,
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.common_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 20px 0;
}

.button {
  background-color: #36b37f;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  border: 0;
  padding: 12px;
  margin-top: 20px;
  transition: 250ms all;
}

.button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.button:active {
  background-color: #008552;
}

/*** -----------------  WORKS ----------------- ***/

.work_card_list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}

.separator {
  width: 48px;
  height: 4px;
  border-radius: 24px;
  border: none;
  background: #36b37e;
  margin-bottom: 60px;
}

.work_card {
  display: flex;
  flex-direction: column;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  margin: 0 20px 20px 20px;
}

.img_work_card {
  background-color: #ebf0ee;
  height: 252px;
}

.langagues {
  list-style: none;
  padding-left: 0;
  display: block;
}

.data_work_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.data_work_card h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
  padding: 16px 16px 16px 16px;
}

.data_work_card li {
  background-color: #ebf0ee;
  padding: 8px 12px 8px 12px;
  margin: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  float: left;
}

/*** -----------------  ABOUT ----------------- ***/

.about_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding: 0 12px 0 12px;
  text-align: center;
  color: #42526e;
}

.about_card {
  background-color: #ebf0ee;
  border-radius: 8px;
  height: 352px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.about_list {
  list-style: none;
  padding-left: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_card h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #344563;
  margin-bottom: 24px;
}

.about_card_item {
  background-color: white;
  color: #36b37e;
  padding: 8px 12px 8px 12px;
  margin: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.about_card img {
  margin-top: 40px;
  margin-bottom: 20px;
}

.about_items {
  margin: 20px 20px 20px 20px;
}

.about_card_list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  max-width: 310px;
}

.contact .common_title {
  margin-top: 100px;
  padding: 24px;
  text-align: center;
}

.contact_form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  
}

.contact_input {
  padding: 15px;
  margin: 12px;
  border-radius: 4px;
  border: #36b37f 1px solid;
  ;
}

.contact_textarea {
  margin: 12px;
  padding: 15px;
  border-radius: 4px;
  border: #36b37f 1px solid;
}

.contact_button {
  padding: 12px;
  margin: 12px;
  background-color: #36b37f;
  color: white;
  border: none;
  border-radius: 4px;
  width: 105px;
}

.contact_button:hover {
  background-color: white;
  color: #36b37f;
  border: 1px solid #36b37f;
}